<%- include('partials/header.ejs') %>

<div id="board"></div>

<p>But du jeu : atteignez la case vert pour gagner!</p>
<p>commandes : fleche du haut pour avancer , fleche de droite et gauche  pour tourner</p>

<%- include('partials/footer.ejs') %>