<%- include('partials/header.ejs') %>

<button type="button" id="go">Démarrer</button>
<div id="message"></div>

<main id="playground"></main>

<script src="js/app.js"></script>

<%- include('partials/footer.ejs') %>